{% extends 'layout.html' %}

{% block content %}
    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/admin/add" ><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>新建管理员</a>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">管理员列表</div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
            <th>重置密码</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for foo in queryset %}
          <tr>
            <td>{{ foo.id }}</td>
            <td>{{ foo.username }}</td>
            <td>******</td>
            <td><a href="/admin/{{ foo.id }}/reset">重置密码</a></td>
            <td>
                <a class="btn btn-primary btn-xs" href="/admin/{{ foo.id }}/edit">编辑</a>
                <a class="btn btn-danger btn-xs" href="/admin/delete?nid={{ foo.id }}">删除</a>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>

    <nav aria-label="Page navigation">
          <ul class="pagination">
            {{ page_string }}
          </ul>

    </nav>
{% endblock %}
