{% extends 'layout.html' %}

{% block content %}
    <div >
        <input id="btnAdd" type="button" value="新建订单" class="btn btn-success" style="margin-bottom: 10px"/>

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">订单列表</div>

          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>订单号</th>
                <th>名称</th>
                <th>价格</th>
                <th>状态</th>
                <th>管理员</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
            {% for foo in queryset %}
              <tr uid="{{ foo.id }}">
                <td>{{ foo.id }}</td>
                <td>{{ foo.oid }}</td>
                <td>{{ foo.title }}</td>
                <td>{{ foo.price }}</td>
                <td>{{ foo.get_status_display }}</td>
                <td>{{ foo.get_admin_display }}</td>
                <td>
{#                    <a class="btn btn-primary btn-xs" href="/order/{{ foo.id }}/edit">编辑</a>#}

                    <input uid="{{ foo.id }}" class="btn btn-primary btn-xs btn-edit" type="button" value="编辑" />
{#                    <a class="btn btn-danger btn-xs" href="/order/delete?nid={{ foo.id }}">删除</a>#}
                    <input uid="{{ foo.id }}" class="btn btn-danger btn-xs btn-delete" type="button" value="删除" />
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>

        </div>
        <nav aria-label="Page navigation">
              <ul class="pagination">
                {{ page_string }}
              </ul>

        </nav>
    </div>

    <!-- 新建/编辑 订单对话框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">新建</h4>
          </div>
          <div class="modal-body">
             <form id="formAdd">
                {% for filed in form %}
                    <div class="form-group" style="position: relative;margin-bottom: 20px">
                        <label>{{ filed.label }}</label>
                        {{ filed }}
                        <span class="err-msg" style="color: red;position:absolute;"></span>
                    </div>

                {% endfor %}

             </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="btnSave">保存</button>
          </div>
        </div>
      </div>
    </div>


    <!-- 删除订单对话框 -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
      <div class="modal-dialog" role="document"  style="width: 35%">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4>是否确定删除？</h4>
              <p style="margin: 10px 0;">删除后，所有关联的相关数据都会被删除。</p>
              <p style="text-align: right">
                <button id="btnConfirmDelete" type="button" class="btn btn-danger" data-dismiss="modal">确 定</button>
                <button type="button" class="btn btn-default">取 消</button>
              </p>
            </div>
      </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        var DELETE_ID = 0
        let EDIT_ID = 0
        $(function (){
            bindBtnAddEvent();
            bindBtnSaveEvent();
            bindBtnDeleteEvent();
            bindBtnConfirmDeleteEvent();
            bindBtnEditEvent();
        })
        function bindBtnAddEvent(){
            $('#btnAdd').click(function (){
                EDIT_ID = undefined

                // 清空对话框中的数据
                $("#formAdd")[0].reset();

                $('#myModalLabel').text("新建");
                // 点击新建按钮，显示对话框
                $('#myModal').modal('show');
            })
        }

        function bindBtnSaveEvent(){
            $('#btnSave').click(function (){
                // 清除错误信息
                $('.err-msg').empty()

                if(EDIT_ID){
                    doEdit();
                }else{
                    doAdd();
                }


            })
        }

        function doAdd(){
             $.ajax({
                    url: "/order/add",
                    type: "post",
                    data: $("#formAdd").serialize(),
                    success:function (res){
                        console.log(res)
                        if(res.status){
                            {#alert('创建成功')#}
                            // 清空表单 $('#formAdd')是jqeury对象->$('#formAdd')[0] DOM对象
                            $('#formAdd')[0].reset();
                            $('#myModel').modal('hide');
                            //刷新页面
                            location.reload();
                        }else{
                            $.each(res.error, function (name, errorList){
                                $('#id_'+name).next().text(errorList[0])
                            })
                        }
                    }
                })
        }
        function doEdit(){
             $.ajax({
                    url: "/order/"+EDIT_ID+"/edit",
                    type: "post",
                    data: $("#formAdd").serialize(),
                    success:function (res){
                        console.log(res)
                        if(res.status){
                            {#alert('编辑成功')#}
                            // 清空表单 $('#formAdd')是jqeury对象->$('#formAdd')[0] DOM对象
                            $('#formAdd')[0].reset();
                            $('#myModel').modal('hide');
                            //刷新页面
                            location.reload();
                        }else{
                            if(res.msg){
                                alert(msg)
                            }else{
                                $.each(res.error, function (name, errorList){
                                    $('#id_'+name).next().text(errorList[0])
                                })
                            }
                        }
                    }
                })
        }

        function bindBtnDeleteEvent(){
            $('.btn-delete').click(function (){
                // 点击删除按钮，显示删除对话框
                $('#delModal').modal('show');

                //获取当前行的ID并赋值给全部变量
                DELETE_ID = $(this).attr("uid")
                console.log(DELETE_ID)
            })
        }

        function bindBtnConfirmDeleteEvent(){
            $('#btnConfirmDelete').click(function (){
                $.ajax({
                    url: "/order/"+DELETE_ID+"/delete",
                    type: "GET",
                    dataType: "JSON",
                    success: function (res){
                        if(res.status){
                            {#alert("删除成功")#}
                            $('#delModal').modal('hide');
                            //在页面上当前一行得删除
                            {#$("tr[uid='"+DELETE_ID+"']").remove();#}
                            //要删除的ID置空
                            DELETE_ID = 0;
                            location.reload();
                        }else{
                            alert(res.error);
                        }
                    }
                })
            })
        }

        function bindBtnEditEvent(){
            $('.btn-edit').click(function (){
                // 清空对话框中的数据
                $("#formAdd")[0].reset();

                let uid = $(this).attr("uid")
                EDIT_ID = uid

                $.ajax({
                    url: '/order/detail',
                    type: 'GET',
                    data:{
                        uid: uid
                    },
                    dataType: 'JSON',
                    success: function (res){
                        console.log(res)
                        if(res.status){
                            $.each(res.data, function (name, value){
                                $("#id_"+name).val(value)
                            })
                            // 修改对话框标题
                            $('#myModalLabel').text("编辑")
                            // 点击新建按钮，显示对话框
                            $('#myModal').modal('show');
                        }else{
                            alert(res.error);
                        }
                    }


                })
            })
        }
    </script>
{% endblock %}