{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <form id="formAdd">
            {% for filed in form %}
                <div class="form-group" style="position: relative;margin-bottom: 20px">
                    <label>{{ filed.label }}</label>
                    {{ filed }}
                    <span class="err-msg" style="color: red;position:absolute;"></span>
                </div>

            {% endfor %}

            <button id="btnAdd" type="button" class="btn btn-primary">确定</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(function (){
            bindBtnEvent()
        })

        function bindBtnEvent(){
            $("#btnAdd").click(function (){
                $('.err-msg').empty();

                $.ajax({
                url: '/task/add',
                type: "post",
                data: $('#formAdd').serialize(),
                dataType: 'JSON',
                success: function (res){
                    console.log(res);
                    if(res.status){
                        alert('添加成功')
                    }else{
                        console.log(res.error)
                        $.each(res.error, function (name, data){
                            console.log(name,data)
                            $("#id_"+name).next().text(data[0])
                        })
                    }
                }
            })
            })
        }
    </script>
{% endblock %}